/* basic styles */
html {
  font-family: "Commisioner", sans-serif;
}
button:enabled {
  cursor: pointer;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  background-color: #3bb4ab;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  align-self: center;
  padding: 15px;
}

.topImage {
  width: 100%;
}

svg {
  position: absolute;
}

/* positiong the nav */

.crowdfundLogo {
  left: 7vw;
  top: 8vw;
}

#hamburger {
  right: 7vw;
  top: 8vw;
  z-index: 3;
}

/* style the nav (flexbox) */

#links a {
  color: #060606;
  border-bottom: #eee solid 0.2px;
  width: 98%;
  font-size: large;
  font-weight: 500;
  padding-left: 5px;
  height: 33%;
  display: flex;
  align-items: center;
  width: 85vw;
  text-decoration: none;
}

#links a:last-child {
  margin-top: auto;
  border: none;
}

#links {
  display: flex;
  flex-direction: column;
}

.topNav {
  display: none;
  background-color: #ffffff;
  z-index: 2;
  margin: auto;
  width: 85%;
  height: 25vh;
  position: absolute;
  left: 7.6vw;
  top: 25vw;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 500vh rgba(0, 0, 0, 0.15);
}

/* make flex containers and position slash style them */
.container {
  font-family: "Commissioner", sans-serif;
  display: flex;
  flex-direction: column;
  border: #eee solid 1px;
  align-items: center;
  width: 75vw;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.container h2 {
  font-size: 1.3rem;
  font-weight: 600;
  width: 75%;
}

/* styles for the 1st card */
#topCard h2 {
  margin: -25px auto 15px;
}

.container p {
  color: #909090;
  font-size: 0.95rem;
  margin-bottom: 20px;
}
#topCard {
  position: relative;
  bottom: 15vw;
  background-color: white;
}

#mastercraftLogo {
  position: relative;
  bottom: 13vw;
}

.btn-group {
  display: flex;
}

#backProject {
  width: 50vw;
  height: 15vw;
}

#backProject + button {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: none;
  background: #2f2f2f;
  margin-left: 10px;
  color: #b1b1b1;
  align-self: center;
}

/* fix margin on second card, increase font size of the numbers, and place a border between numbers */

.figures {
  margin-bottom: 50px;
  margin-top: -25px;
}

.figures h2 {
  font-size: 2.25rem;
  margin-bottom: 0;
}

.figures p {
  border-bottom: #d8d8d8 solid 1px;
  padding-bottom: 30px;
}

.figures p:last-child {
  border: none;
}

/* style and position the about section and it's children */

.about div {
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.about div.container {
  width: 60vw;
  border-color: #dbdbdb;
  margin-bottom: 30px;
}
.about h2 {
  font-size: 1.25rem;
}

.about a {
  text-decoration: none;
  color: #68b1a2;
}

.about button {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
}

/* make the numbers larger and bold */

.about span {
  font-size: 2rem;
  color: #060606;
  font-weight: 600;
}

/* sets the styles for the disabled card */

.disabled,
.disabled p,
.disabled a,
.disabled span {
  color: #c2bfbf;
}
.disabled button {
  background-color: #e6e6e6;
}

/* modals */

.modal-default {
  display: none;
  flex-direction: column;
  background-color: #ffffff;
  width: 85vw;
  height: 150vw;
  box-shadow: 0px 0px 20px 500vh rgba(0, 0, 0, 0.15);
  border: solid #efefef 0.5px;
  border-radius: 15px;
  padding: 15px;
  padding-bottom: 30px;
  position: fixed;
  top: 15vw;
  overflow-y: auto;
}

#close-modal {
  position: relative;
  left: 75vw;
  top: 5vw;
}

.containing {
  display: flex;
  flex-direction: column;
}

#modal-backproject {
  margin: 25px 0 20px 20px;
}

#modal-backproject + p {
  text-align: center;
  margin-bottom: 25px;
}
.modal-default h2,
.modal-default h3 {
  font-size: 1.1rem;
}

.modal-default p {
  color: #909090;
  font-size: 0.9rem;
}
